// most colors grabbed from
// [permalink] https://github.com/morhetz/gruvbox/blob/bf2885a95efdad7bd5e4794dd0213917770d79b7/colors/gruvbox.vim#L88

$bg: #1d2021;
$bg-accent: #0e181a;
$fg: #dfdfdf;
$fg-faded: rgba(223, 233, 233, 0.5);
$green: #98971a;
